<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
    

    var switchToTheme = "dark";
    var textColorDark = "#fff";
    var textColorLight = "#000";

    reloadIcons(switchToTheme);

    jQuery(":button").click(function() {
      if(this.id === "darkmode-loader") pressedButton();
    });

    function pressedButton() {
      var currentTheme = document.documentElement.getAttribute("data-theme");

      switchToTheme = currentTheme === "dark" ? "light" : "dark";

      document.documentElement.setAttribute("data-theme", switchToTheme);

      reloadIcons(switchToTheme);
    };

    function reloadIcons(switchToTheme) {

      var sun = document.getElementById("sun");
      var moon = document.getElementById("moon");

      if(switchToTheme === "dark") {
        moon.style.visibility = "visible";
        sun.style.visibility = "hidden";
      } else if(switchToTheme === "light") {
        sun.style.visibility = "visible";
        moon.style.visibility = "hidden";
      }
    };

</script>