<script>

    var switchToTheme = "dark";
    var textColorDark = "#fff";
    var textColorLight = "#000";

    reloadIcons(switchToTheme);

    function pressedDarkModeButton(btn) {
      var currentTheme = document.documentElement.getAttribute("data-theme");

      switchToTheme = currentTheme === "dark" ? "light" : "dark";

      document.documentElement.setAttribute("data-theme", switchToTheme);

      reloadIcons(switchToTheme, btn);

    };

    function reloadIcons(switchToTheme, btn) {
      if(switchToTheme === "dark") {
        btn.innerHTML = '<i id="moon" class="far fa-moon"></i>'
      } else if(switchToTheme === "light") {
        btn.innerHTML = '<i id="sun" class="far fa-sun"></i>'
      }
    };

</script>