<script>

    var switchToTheme = "dark";
    var textColorDark = "#fff";
    var textColorLight = "#000";

    reloadIcons(switchToTheme);

    function pressedDarkModeButton() {
      var currentTheme = document.documentElement.getAttribute("data-theme");

      switchToTheme = currentTheme === "dark" ? "light" : "dark";

      document.documentElement.setAttribute("data-theme", switchToTheme);

      reloadIcons(switchToTheme);
    };

    function reloadIcons(switchToTheme) {

      var sun = document.getElementById("sun");
      var moon = document.getElementById("moon");

      if(switchToTheme === "dark") {
        moon.style.visibility = "hidden";
        sun.style.visibility = "visible";
      } else if(switchToTheme === "light") {
        sun.style.visibility = "hidden";
        moon.style.visibility = "visible";
      }
    };

</script>