<!DOCTYPE html>
<html data-theme="light" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="shortcut icon" href="favicon-32x32.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>
      {{title}}
    </title>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    {% if prism == true %}
      <link rel="stylesheet" type="text/css" href="/static/css/prism-tomorrow.css">
    {% endif %}

  </head>
  <body>
    {% include "./partials/navbar.html" %}
    <br/><br style="margin: 4px 0;" />
    {{ content | safe }}
    <br/><br/><br/>
    {% include "./partials/footer.html" %}

    <script src="https://unpkg.com/alpinejs" defer></script>
    <script src="https://kit.fontawesome.com/ba24822e44.js" crossorigin="anonymous"></script>

  </body>
</html>