@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

:root {
  --background-color: #fff;
  --text-color: #000;
  
}

[data-theme="dark"] {
  --background-color: #242424;
  --text-color: #fff;
}

#moon {
  color: #000;
}

#sun {
  color: #fff;
}

h1 {
  @apply text-4xl tracking-tighter mb-3 text-center lg:text-7xl;
}

h3 {
  @apply text-2xl font-bold mb-3;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  position: relative;
  overflow-y: scroll;
  box-sizing: border-box;
}

#collapsercontent {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

#darkmode-loader {
  transition: visibility 0.3s ease-out;
}

.typewritten_text {
  color: darkturquoise;
  font-size: 2.5em;
  font-weight: bold;
  padding: 15px 1px;
}

#main {
  box-sizing: border-box;
  margin: -1px 0 0 0;
  padding: 10px;
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}