{% include "../_includes/js/collapser.html" %}

<center><div class="my-1" id="spacer">⠀</div></center>

<h3>Here are some things that you should know about me!</h3>
<div id="a_little_bit_to_know_about_me" class="gap-2 my-2 px-1">
    <center><h3 id="typewriter-qualifications" class="typewritten_text"></h3></center>

    <script>
        
        setTimeout(() => TypeWrite(document.getElementById("typewriter-qualifications"), `„${TypeWrittenText_Qualifications[Math.floor(Math.random() * TypeWrittenText_Qualifications.length)]}“`, 50, "TYPE"), 1000);
        setTimeout(() => TypeWrite(document.getElementById("typewriter-qualifications"), "THIS IS IRRELEVANT!!!", 50, "DELETE"), 10000);

        setTimeout(() => setInterval(() => {
            TypeWrite(document.getElementById("typewriter-qualifications"), `„${TypeWrittenText_Qualifications[Math.floor(Math.random() * TypeWrittenText_Qualifications.length)]}“`, 50, "TYPE");
            setTimeout(() => {
                TypeWrite(document.getElementById("typewriter-qualifications"), "this is very unimportant. ipsjzhashguadhguhg", 50, "DELETE");
            }, 9000);
        }, 15000), 1000);
    
    </script>

</div>

<center><div class="my-1" id="spacer">⠀</div></center>

<div id="qualifications" class="gap-2 my-4 px-2">
    <center><h3>What I'm able to do:</h3></center>

    <div class="w-full max-w-2xl grid grid-cols-1 lg:grid-cols-2 gap-2 my-4 px-2 lg:mx-0">
        {% if qualifications.qual %}

            {% for item in qualifications.qual %}
                <div class="p-5 border rounded border-gray-200 hover:border-blue-400">
                    <button id="collapser" onclick="collapsible_runner(this)">
                        <center>
                            <h3>{{item.skill}} ↓</h3>
                            <p>{{item.desc}}</p>
                        </center>
                    </button>
                    
                    <center>
                        <div class="collapsercontent gap-1 my-2 px-1 mx-0" id="collapsercontent">
                        
                            <div class="my-1" id="spacer">⠀</div><hr><div class="my-1" id="spacer">⠀</div>

                            <h3>{{item.ucdesc}}</h3>
                            <ul>
                                {% for uc in item.uc %}
                                    <li>{{uc}}</li>
                                {% endfor %}
                            </ul>

                        </div>
                    </center>

                </div>
            {% endfor %}

        {% endif %}
    </div>
</div>

<center><div class="my-1" id="spacer">⠀</div></center>

<div id="quicklinks" class="gap-2 px-2">
    <center><h3>Quick Links</h3></center>
    <div class="w-full max-w-2xl grid grid-cols-1 lg:grid-cols-2 gap-2 my-4 px-2 lg:mx-0">

        {% if quicklinks.links %}

            {% for item in quicklinks.links %}
                <a href="{{item.url}}" target="_blank" class="p-5 border rounded border-gray-200 hover:border-purple-400">
                    <h3>{{item.title}} →</h3>
                    <p>{{item.desc}}</p>
                </a>
            {% endfor %}

        {% endif %}

    </div>
</div>

<center><div class="my-1" id="spacer">⠀</div></center>